@media screen and (max-width: 1145px) {
    .disappear1145 {
        display: none;
    }
    .response1145 {
        width: 90%!important;
    }
    .appear1145 {
        display: table-cell!important;
        width: 10%!important;
    }
}

@media screen and (max-width: 959px) {
    .disappear960 {
        display: none!important;
    }
    .response960 {
        padding-bottom: 0!important;
    }
    .appear960 {
        display: block!important;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

.pulse {
    animation: pulseAnimation 3s infinite;
}

@keyframes pulseAnimation {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
    
	60% {
		box-shadow: 0 0 0 7px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
	}
}