body {
  margin: 0;
  font-family: -apple-system, BlinkMacSysemFont, 'Helvetica Neue', 'Helvetica', sans-serif, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
  background-color: transparent;
}

*:focus {
  outline: 0 !important;
}

@keyframes shiftDownAnimation {
  0% {
      transform: translateY(-5%);
  }
  50% {
      transform: translateY(10%);
  }
  100% {
      transform: translateY(-5%);
  }
}

@keyframes shiftUpAnimation {
  0% {
      transform: translateY(5%);
  }
  50% {
      transform: translateY(-10%);
  }
  100% {
      transform: translateY(5%);
  }
}