body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'TW Cen MT', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
  background-color: transparent;
}

*:focus {
  outline: 0 !important;
}

.min-500 {
  min-width: 500px;
}